
#cat{
    height: 60vh;
    width: 60vh;
    margin: 10px;
}

#btn-more{
    width: 60vh;
}

.display-center{
    display: flex;
    justify-content: center;
}

.sel-style-item{
    height:18vh;
    width: 18vh;
    margin: 0 10px 10px 10px;
}

@media only screen and (max-width: 1281px) { 
    #cat{
        height: 100vw;
        width: 100vw;
    }
    #btn-more{
        width: 100vw;
    }
}