
#cat{
    height: 60vh;
    width: 60vh;
    margin: 10px;
}

#btn-more{
    width: 60vh;
    font-size: 1rem;
}

.title-text{
    font-size: 3rem;
} 

.display-center{
    display: flex;
    justify-content: center;
}

.sel-style-item{
    height:18vh;
    width: 18vh;
    margin: 0 10px 10px 10px;
}

@media only screen and (max-width: 1281px) { 
    #cat{
        height: 100vw;
        width: 100vw;
    }
    #btn-more{
        width: 100vw;
        font-size: 2rem;
    }
    .sel-style-item{
        height:18vh;
        width: 18vh;
        margin: 20px 10px 20px 10px;
    }
}